body {
    /* bỏ margin: 0; và padding 0 để full màn hình  */

    /* background-color: black; */
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #265039 0%, #494822 100%);
    
    
}

h2 {
    color: white;
    margin-bottom: 0;
}

.container {
    white-space: nowrap;
    color: white;
    font-family: arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50vw;
}

.line {
    border-bottom: 1px solid white;
    margin-top: 5px;
    margin-bottom: 50px;
}


/* <select> styles */
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font-size: 18px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(61, 61, 61, 0.452) 3em, rgba(2, 2, 2, 0.664) 3em);
    /* Personalize */
    width:400px;
    height: 60px;
    padding: 0 15px 0 1em;
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}
#timer{
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 20px;
}
select option {
    color: white;
    background-color: black
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}
.time{
    display: flex;
    justify-content: space-between;
   width: 100%;
   
}
.time-item{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background:  rgba(255, 255, 255, 0.5)  ;
    border-radius: 50%;
    box-shadow: 0 0 10px 0px black;
}